version: '3'

services:
  mysql:
    image: mysql:8
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dockerpractice
      MYSQL_USER: root
      MYSQL_PASSWORD: akriti
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend

  springboot:
    build: .
    container_name: springboot_container
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/dockerpractice
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: akriti
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:

volumes:
  mysql_data:
